body {
    background-image: url('');
    background-size: cover;
    background-repeat: no-repeat;
  }
h1{
    color: rgb(255, 17, 0);
}
h2{
  color: rgb(9, 255, 0);
}
p{
  color: rgb(255, 132, 0);
}


